<!-- Lo mismo para el header -->
<section class="footer">
        <div class="content-footer">
            <h2 class="title-footer">LOXI</h2>
            <div class="footer-links">
                <h4>ENLACES RÁPIDOS</h4>
                <ul>
                    <li>
                        <a href="frontend/pages/terminos.html"
                            >Términos y condiciones</a
                        >
                    </li>
                    <li>
                        <a
                            href="frontend/pages/us.html#developers-container"
                            >Nuestro equipo</a
                        >
                    </li>
                    <li><a href="">Ayuda</a></li>
                    <li><a href="frontend/pages/d&s.html">D&S</a></li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        <p>LOXI © 2025. TODOS LOS DERECHOS RESERVADOS</p>
    </footer>
    <script src="frontend/js/script.js"></script>