<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOXI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
      <div>
        <i class="fa-solid fa-code"></i>
        <h1>LOXI</h1>
      </div>
      <nav>
        <ul>
          <li><a href="">servicios</a></li>
          <li><a href="">D&S</a></li>
          <li><a href="">Practica</a></li>
          <button>Registrate</button>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <h2>Creando Desarrolladores.
          Impulsando la excelencia.
        </h2>
        <p>Ayudamos a las personas a desarrollar su lógica a partir de juegos y generando en ellos una experiencia agradable.</p>
        <div>
          <button><a href="">Iniciar ahora</a></button>
          <a>nuestros servicios</a>
        </div>
      </section>
    </main>
  </body>
  </html>

